/* Footer.css */

.footer {
  position: fixed;
  color: #aaaaaa;
  text-align: center;
  padding: 12px 0;
  bottom: 0;
  width: 100%;
}

.hspace {
  margin: 0 8px;
}

@media screen and (orientation: portrait) {
  .footer {
    font-size: 75%;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 1000px) and (orientation: landscape) {
  .footer {
    position: relative;
    margin-top: 2em;
  }
}
