:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.25;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg: #f0f0f0;
  --main: #ce4a7e;
  --dark: hsl(330, 100%, 75%);
  --light: hsl(325, 100%, 95%);
}

#app-bar {
  color: var(--main);
}

a {
  position: relative;
  box-decoration-break: clone;
  text-decoration: none;
}

a:after {
  left: 0;
  right: 0;
  bottom: -2px;
  content: "";
  height: 2.65px;
  position: absolute;
  transform: translateZ(0) scaleX(0);
  transform-origin: left center;
  transition: all 0.15s ease-in-out;
  background-image: linear-gradient(to right, var(--dark), var(--light));
}

a:hover:after {
  transform: translateZ(0) scale(1.15);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
}

.buttons {
  position: absolute;
  margin-top: 0.2em;
  margin-right: 1em;
  top: 0;
  right: 0;
}

.level {
  color: #fff !important;
}

.keys {
  font-size: 85%;
  display: inline-block;
  padding: 0.1em 0.2em;
  line-height: 70%;
  vertical-align: middle;
  border: 1px solid #aaa;
  border-radius: 0.25em;
  box-shadow: inset 0 -1px 0;
  background-color: #f8f8f8;
}

.metronome {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1;
  width: 220px;
  margin-left: auto;
  margin-right: 0.7em;
  padding-right: 0.8em;
  padding: 0.5em;
}

.settings {
  position: absolute;
  margin-top: 0.2em;
  margin-right: 1em;
  top: 0;
  right: 0;
}

.abcjs-bar-number {
  font-style: normal;
  font-size: 14px;
}

@media screen and (orientation: portrait) {
  #header {
    font-size: 130%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .vspace {
    margin-top: 3.5em;
  }

  .buttons {
    position: relative;
    margin-top: 1.85rem;
    margin-left: 4.5rem;
    margin-bottom: 1rem;
  }

  .metronome {
    order: 1;
    margin: 0 auto;
    text-align: center;
  }

  .level {
    color: inherit !important;
  }
}
